body {
    background-color: #CAD2C5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #2F3E46;
}
section {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #CAD2C5;
    height: 20vh;
    width: 100%;
    align-items: center;
}
form {
    display: inline-block;
}
input {
    width: 100%;
    padding: 8px;
    margin: 2px 0;
    box-sizing: border-box;
    border: solid #2F3E46 1px;
  }
button {
    background-color: #52796F;
    border: none;
    color: #CAD2C5;
    width: 12vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
button:hover {
    color: white;
}
#id {
    display: flex;
    align-items: stretch;
}
#SP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#SP_header {
    height: 40vh;
   justify-content: center;
}
#SP_header > img {
    margin-top: auto
}
.authentication {
    text-align: center;
}
.MP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MP > header {
    justify-content: space-between;
    width: 85vw;
}
.MP_leftbar {
    background-color: #84A98C;
    width: 15vw;
}
.MP_leftbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.MP_leftbar > li {
    margin: 0;
    padding: 0;
}
.MP_line {
    height: 3px;
    width: 100%;
    background-color: #CAD2C5;
}
.MP_section {
    height: 60vh;
    border: solid #84A98C 3px;
    border-left: none;
    border-top: none;
}
.MP_outlet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-top: solid #84A98C 3px;
}
.MP_outlet > div{
    width: 70vw;
    background-color:#CAD2C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mainlink {
    margin-left: 10px;
}
.MP_games_span {
    padding-left: 10vw;
    color: #52796F;
}
#Outlet_ChatBtn button{
    width: 20vw;
}
#Outlet_PersonalData {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Outlet_PersonalData label{
    margin-left: 10px;
    background-color: #84A98C;
    border: none;
    color: #2F3E46;
    width: 12vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
#Outlet_PersonalData input[type="radio"]:checked+label {
    color: #CAD2C5;
    background-color: #52796F;
    display: none;
}
#Outlet_PersonalData label:hover {
    color: white;
    background-color: #52796F;
}