body {
    background-color: #CAD2C5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #2F3E46;
}
section {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #CAD2C5;
    height: 20vh;
    width: 100%;
    align-items: center;
}
form {
    display: inline-block;
}
input {
    width: 100%;
    padding: 8px;
    margin: 2px 0;
    box-sizing: border-box;
    border: solid #2F3E46 1px;
}
input[type="submit"]{
    transition-duration: 0.7s;
}
input[type="submit"]:hover{
    color: white;
}
button {
    background-color: #52796F;
    border: none;
    color: #CAD2C5;
    width: 12vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.light-button {
    font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #84A98C;
  border: none;
  color: #2F3E46;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  margin: 0;
  padding: 0;
  width: 12vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-left: 4px;
}
.light-button:hover {
    transition-duration: 0.4s;
    background-color: #52796F;
    color: white;
}
button:hover {
    color: white;
}
#id {
    display: flex;
    align-items: stretch;
}
#SP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#SP_header {
    height: 40vh;
   justify-content: center;
}
#SP_header > img {
    margin-top: auto
}
.authentication {
    text-align: center;
}
.MP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MP > header {
    justify-content: space-between;
    width: 85vw;
}
.sign-button {
    width: 220px;
}
.MP_leftbar {
    background-color: #84A98C;
    width: 15vw;
}
.MP_leftbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.MP_leftbar > li {
    margin: 0;
    padding: 0;
}
.MP_line {
    height: 3px;
    width: 100%;
    background-color: #CAD2C5;
}
.MP_section {
    height: 60vh;
    border: solid #84A98C 3px;
    border-left: none;
    border-top: none;
}
.MP_outlet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-top: solid #84A98C 3px;
}
.MP_outlet > div{
    width: 70vw;
    background-color:#CAD2C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mainlink {
    margin-left: 10px;
}
.MP_games_span {
    padding-left: 10vw;
    color: #52796F;
}
#Outlet_ChatBtn button{
    width: 20vw;
}
#Outlet_PersonalData {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Outlet_PersonalData .unselected{
    margin-left: 10px;
    background-color: #84A98C;
    border: none;
    color: #2F3E46;
    width: 12vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
#Outlet_PersonalData .selected {
    color: #CAD2C5;
    background-color: #52796F;
    margin-left: 10px;
    border: none;
    width: 12vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
#Outlet_PersonalData input[type="radio"] {
    display: none;
}
.form-inline  {
    flex-direction: row;
}
.form-inline input {
    width: 20vw;
    margin-left: 10px;
}
#ModifyAccount > div{
    display: flex;
    justify-content:space-between;
    justify-items: flex-start;
    align-items: center;
    margin-left: 4vw;
    margin-right: 2vw;
}
#ModifyAccountBtn {
    background-color: #52796F;
    border: none;
    color: #CAD2C5;
    width: 10vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}
#ModifyAccountBtn:hover {
    color: white;
}
#friends > div {
    width: 40vw;
    height: 50vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#friends_header {
    height: 8vh;
    width: 42vw;
    background-color: #84A98C;
}
#friends_header form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: stretch;
}
#friends_header .unselected{
    background-color: #84A98C;
    border: none;
    color: #2F3E46;
    /*width: 12vw;*/
    padding-top: 2vh;
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}
#friends_header .selected {
    color: #CAD2C5;
    background-color: #52796F;
    border: none;
    /*width: 13vw;*/
    padding-top: 2vh;
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}
.div_selected {
    border-left: 5.5px solid #52796F;
    transition-duration: 0.4s;
}
.div_unselected {
    border-left: 5.5px solid #84A98C;
    transition-duration: 0.4s;
}
#friends_header input[type="radio"] {
    display: none;
}
#friends_scrollbar {
    height: 42vh;
    width: 40vw;
    border: 3px solid #84A98C;
    border-top: none;
    background-color: #CAD2C5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2vw;
    overflow: auto;
    overflow-x: hidden;
}
#stats {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats_scrollbar {
    margin-left: 5vw;
    width: 60vw;
    height: 40vh;
    line-height: 3em;
    overflow: auto;
    overflow-x: hidden;
    padding: 5px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: none;
}
  
::-webkit-scrollbar-thumb {
    background-color: #84A98C;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #52796F;
}
.stats_scrollbar{
    scrollbar-width: thin;
    scrollbar-color: #84A98C #CAD2C5;
}
#wordle_rooms{
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#wordle_rooms_div1{
    width: 70vw;
    height: 20%;
}
#wordle_rooms_div2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#wordle_rooms_div2 hr {
    background-color: #84A98C;
    color: #84A98C;
    border: none;
    height: 2px;
    width: 80%;
}
.wordle_form{
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 100px;
    background-color: #84A98C;
    position: absolute;
    transition-duration: 0.7s;
    opacity: 1;
}
.wordle_form_not_visible{
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 100px;
    position: absolute;
    transition-duration: 0.7s;
    opacity: 0;
}
.wordle_form * {
    transition-duration: 0.7s;
    opacity: 1;
}
.wordle_form_not_visible * {
    transition-duration: 0.7s;
    visibility: hidden;
    opacity: 0;
}
.wordle_form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.7s;
    opacity: 1;
}
.wordle_form input {
    width: 80%;
    transition-duration: 0.7s;
    opacity: 1;
}
.wordle_form_not_visible form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.7s;
    opacity: 0;
}
.wordle_form_not_visible input {
    width: 80%;
    transition-duration: 0.7s;
    opacity: 0;
}
.list_of_rooms {
    width: 100%;
    height: 70px;
}
.list_of_rooms * {
    margin-left: 10px;
    margin-right: 10px;
}
.game_form_btn {
    border: none;
    background-color: #52796F;
    color: #CAD2C5;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
#game_section {
    width: 85vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
}
#game_win {
    width: 15vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#selector:hover {
    transition-duration: 0.4s;
    background-color: #CAD2C5;
    cursor: pointer;
}
#guesser:hover {
    transition-duration: 0.4s;
    background-color: #CAD2C5;
    cursor: pointer;
}
#wordle_main {
    width: 28vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wordle_row {
    display: flex;
    flex-direction: row;
    height: 9.5vh;
    justify-content: space-around;
}
.wordle_row > div{
    width: 9.5vh;
    border: solid #52796F 2px;
    font-size: xx-large;
    color: #2F3E46;
    background-color: #FBFFF7;
    font-family: monospace;
    text-align: center;
    display: flex;
    flex-direction: row;
}
#chess_main .even {
    background-color: #CAD2C5;
}
#chess_main .odd {
    background-color: #84A98C;
}
#chess_main .left_border {
    border-left: 3px solid #84A98C;
}
#chess_main .right_border {
    border-right: 3px solid #84A98C;
}
#chess_main .bottom_border {
    border-bottom: 3px solid #84A98C;
}
#chess_main .top_border {
    border-top: 3px solid #84A98C;
}
#chess_main tr{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
}
#chess_main td {
    width: 8vh;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 8vh;
}
/*to warcaby*/
#checkers_main {
    border: solid #84A98C 2px;
    width: 64vh;
    height: 64vh;
    display: flex;
    flex-direction: column;
}
.chess_row {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
}
.chess_row > div {
    width: 8vh;
    height: 100%;
}
.chess_row:nth-child(2n) > div:nth-child(2n){
    background-color: #CAD2C5;
}
.chess_row:nth-child(2n) > div:nth-child(2n+1){
    background-color: #84A98C;
}
.chess_row:nth-child(2n+1) > div:nth-child(2n+1){
    background-color: #CAD2C5;
}
.chess_row:nth-child(2n+1) > div:nth-child(2n){
    background-color: #84A98C;
}
#battleship_pieces {
    width: 60vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.battleship_main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    width: 37vh;
    height: 37vh;
}
#battleShip {
    display: flex;
    flex-direction: row;
}
.battleship_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.battleship_row > td {
    width: 3.7vh;
    height: 3.7vh;
    border: solid #84A98C 0.1vh;
}
.battleship_labels {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.battleship_labels > th {
    width: 3.7vh;
    height: 3.7vh;
    border: solid #CAD2C5 0.1vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#battleship_empty {
    width: 5vw;
}
#chat {
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#84A98C;
}
#chat_box {
    background-color: #FBFFF7;
    width: 20vw;
    height: 30vh;
    margin-top: 10px;
    margin-bottom: 0;
    border: solid #52796F 3px;
}
#chat_close {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#chat_close div {
    height: 100%;
    border-left: solid #52796F 3px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #52796F;
    color: #CAD2C5;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
}
#chat_close div:hover{
    color: white;
}
#chat_box div {
    height: 80%;
    width: 100%;
    background-color: #FBFFF7;
}
#chat form {
    width: 20.2vw;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
#chat input[type="text"] {
    height: 5vh;
    width: 80%;
    background-color: #FBFFF7;
    border: solid #52796F 3px;
}
#chat input[type="button"]{
    height: 5vh;
    width: 20%;
    background-color: #52796F;
    color: #CAD2C5;
    transition-duration: 0.4s;
    border: solid #52796F 3px;
    border-left: none;
    cursor: pointer;
}
#chat input[type="button"]:hover{
    color: white;
}